.cache
.config/Code
.config/google-chrome
.config/microsoft-edge
.config/evolution
.config/cinnamon
.dotnet
.kodi
.local
.linuxmint
.mozilla
.npm
.nvm
.oh-my-zsh
.pki
.vscode
Desktop
Documents
Downloads
Music
Pictures
Public
Templates
Videos
.bash_history
.bash_logout
.bashrc
.dmrc
.gtkrc-2.0
.gtkrc-xfce
.shell.pre-oh-my-zsh
.sudo_as_admin_successful
.wget-hsts
.Xauthority
.xsession-errors
.xsession-errors.old
.zcompdump-hieubq-HP-5.8.1
.zcompdump-hieubq-HP-5.8.1.zwc
.zshrc.pre-oh-my-zsh
cv_debug.log
.config/mimeapps.list
.config/user-dirs.dirs
.config/user-dirs.locale
.config/caja/desktop-metadata
.config/dconf/user
.config/enchant/en_US.dic
.config/enchant/en_US.exc
.config/gtk-3.0/bookmarks
.config/hexchat/hexchat.conf
.config/hexchat/servlist.conf
.config/htop/htoprc
.config/menus
.config/ibus
.config/nemo/desktop-metadata
.config/pulse
.config/sublime-merge
.config/qt5ct/qt5ct.conf
.config/sublime-text
.config/thefuck/__pycache__/settings.cpython-312.pyc
.config/xed/accels
